[Unit]
Description=Distributed node
After=network.target
Requires=network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
EnvironmentFile=/etc/distributed_node_env_{{item}}
ExecStart=/opt/bin/distributed_node start
WatchdogSec=3600s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
